/*--------------------------------------------------------------
# Custom for Milestone 2
--------------------------------------------------------------*/

.App {
  font-family: sans-serif;
  text-align: center;
}

.icon {
  width: 120px;
}

.flex-center {
  margin: auto;
}

.nav-quote {
  font-family: "Roboto Mono", monospace;
}

/* .nav-a:focus {
  text-decoration: none;
} */

.input-container {
  margin: 10px auto;
  width: 50%;
}

input {
  text-align: center;
}

.form-container {
  margin: 80px auto;
  padding: 30px;
  /* border: 3px solid black; */
  width: 50%;
  text-align: center;
  background-color: #f8f9fa;
  box-shadow: 5px 10px #eeeeee;
}

.form-title {
  /* border: 3px solid red; */
  margin: 0 0 20px 0;
}

.form-entry {
  text-align: center;
}

.form-input {
  margin: auto;
  text-align: center;
  width: 50%;
}

.button {
  color: #85c88a;
  border: 2px solid #85c88a;
  margin: 3px;
  background-color: transparent;
}

.button:hover {
  background-color: #85c88a;
  border: 2px solid #85c88a;
  color: white;
}

/*--------------------------------------------------------------
# Custom for FoodOptionsCard
--------------------------------------------------------------*/
.food-options {
  height: 500px;
  max-height: 500px;
  border: 3px solid #525e75;
  border-radius: 10px;
  width: 500px;
  /* padding: 5px; */
  /* margin-left: 50px;
  margin-right: 0; */
  margin: 50px;
  overflow: scroll;
}

.food-record-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-header {
  /* border: 3px solid black; */
  width: 80%;
  margin: 50px auto;
}

.history-content {
  /* border: 3px solid black; */
  /* height: 500px; */
  height: 600px;
  width: 80%;
  margin: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pie-chart {
  margin: 0 20px;
  /* border: 4px solid black; */
}

.pie-meal-title {
  margin: 20px;
}

.history-main {
  text-align: center;
  /* height: 80%; */
}

.history-table {
  width: 500px;
  /* border: 3px solid #525e75; */
  border-radius: 10px;
  padding: 5px;
  /* margin-left: auto; */
  /* margin-right: 0; */
  max-height: 100%;
  margin: 0 50px;
}

.table-veggie {
  background-color: rgba(75, 192, 192, 0.2);
}

.table-grains {
  background-color: rgba(255, 206, 86, 0.2);
}

.table-fruits {
  background-color: rgba(153, 102, 255, 0.2);
}

.table-protein {
  background-color: rgba(255, 99, 132, 0.2);
}
